.header__header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  display: flex;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
  z-index: 1;
}

.header___signup {
  display: flex;
  flex-direction: column;
}

.header__headerImage {
  object-fit: contain;
}
