* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__posts {
  padding: 20px;
}

.app__header {
  background-color: white;
  padding: 20px;
  object-fit: contain;
  display: flex;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app___signup {
  display: flex;
  flex-direction: column;
}
